$border-radius: 2px;
$font-family: Helvetica, sans-serif;
$box-shadow: 0 1px 3px rgba(0,0,0,0.08);

$border-color: #f2f2f2;

$bg-color: #f8f8f8;
$text-color: #484746;
$color-primary: #3aa3e3;
$color-error: #c9302c;
